## Custom entries
*.pdf
style.py

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/


# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

